h1 a {
    margin-left: 30%;
    padding: 1.5%;
    width:40%;
    background: black;
    text-align: center;
    color: whitesmoke;
    font-size: 75%;
    display: block;
    text-decoration: none;
    }

h1 a:hover {
    background: lightgrey;
    color: black;
    }

#dont_click  {
    width:100%;
    background: red;
    text-align: center;
    color: black;
    font-size: 250%;
    display: block;
    text-decoration: none;
    }

#redirect  {
    width:100%;
    background: black;
    text-align: center;
    color: white;
    font-size: 250%;
    display: block;
    text-decoration: none;
    }